*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Space Grotesk;
}
html
{
    scroll-behavior: smooth;
    
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #e2daeb;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color:  #301e4e;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
  }